@font-face {
    font-family: "Eurostile";
    font-style: normal;
    src: url(../fonts/Eurostile-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Eurostile";
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Eurostile-Bold.ttf) format("truetype");
}