footer {
    background: $black;

    color: white;
    padding: 20px 0;
    position: relative;
    text-align: center;

    .container {
        z-index: 2;
        position: relative;
    }

    ul,
    p {
        padding: 0 0;
        font-size: $small_font_size;
    }


    a {
        color: white;
        text-shadow: 0 0 4px transparentize(white, 0.8);

        &:link,
        &:active,
        &:visited,
        &:hover {
            color: white;
        }
    }



}




$social_icon_size: 40px;

.social_icon {
    background: no-repeat center center;
    display: inline-block;
    width: $social_icon_size;
    background-size: cover;
    text-indent: -9999px;
    transition: all 0.3s;

    margin: 10px 0 0;

    &:hover {
        transform: scale(1.2);

    }
}

.facebook_icon {
    background-image: url('../images/social/facebook.svg');
}

.twitter_icon {
    background-image: url('../images/social/twitter.svg');
}

.instagram_icon {
    background-image: url('../images/social/instagram.svg');
}

.linkedin_icon {
    background-image: url('../images/social/linkedin.svg');
}

.youtube_icon {
    background-image: url('../images/social/youtube.svg');
}