h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 130%;
}

h1 {
    font-size: #{$font_size * 2.3};
    padding: 0 0 30px;


}

h2 {
    font-size: #{$font_size * 1.7};
    padding: 0 0 $double_padding;


}

h3 {
    font-size: #{$font_size * 1.7};
    padding: 0 0 $padding;
    color: $dark_grey;

    strong {
        font-size: 1.3em;
    }
}


h4 {
    font-size: #{$font_size * 1};
    padding: 0 0 $padding;
    font-weight: normal;
    color: $dark_grey;
}

h5 {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 2px;
    font-weight: bold;
}

h6 {
    font-size: 1.6em;
    font-weight: bold;
}

.for_screen_readers {
    visibility: hidden;
    height: 0;
    display: none;
    margin: 0;
    padding: 0;
}




p {
    padding: 0 0 30px;
    font-size: $font_size;
    line-height: 150%;
}

li {
    font-size: $font_size;
    padding: 0 0 5px;
}


strong,
b {
    font-weight: bold;
}

em,
i {
    font-style: italic;
    font-weight: 300;
}

a {

    transition: all 0.3s;

    &:link,
    &:visited,
    &:active,
    &:hover {
        color: $brand_color;
        text-decoration: none;
    }

    &:hover {}

    &:focus {
        box-shadow: 0 0 5px $brand_color;
    }

    &.button {
        display: inline-block;
        padding: 10px 30px;
        background: $brand_color;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: $font_size;
        border-radius: 2px;

        &:hover {
            transform: scale(1.1);

        }

        &.margin_top {
            margin-top: 20px;
        }

        &.margin_bottom {
            margin-bottom: 20px;
        }

        &.button_block {
            display: block;
        }

        &.button_grey {
            background-color: $medium_grey;
            color: white;
        }
    }


}



form {

    h4 {
        font-size: $font-size;
    }

}

input,
textarea,
select,
button {
    padding: 10px;
    border: 1px solid darken($light_grey, 5);
    background-color: $light_grey;

    border-radius: 2px;
    font-family: $font_stack;
    font-size: 1.75em;
    margin: 0 0 10px;
    width: 100%;
    box-shadow: 0 3px 0 0 transparent inset;
    transition: all 0.3s;

    &:focus {}
}

.field {
    margin: 0 0 10px;

    &.field_error {
        label {
            $color: $red;
        }

        input,
        select,
        textarea {
            border: 1px solid $red;
        }
    }

}

label {
    display: block;
    font-size: $font-size;
    font-weight: bold;
    padding: 0 0 5px;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;

}



label.radio_label,
label.checkbox_label {

    padding: 0;
    display: inline-block;
    cursor: pointer;
    margin: 0;





}






select {
    appearance: none;
    cursor: pointer;
    background-image: url('../images/chevron_down.svg');
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 10px;
}

input[type="submit"],
button {
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    background: $brand_color;
    color: white;
    font-size: 1em;

    &:hover {
        background-color: darken($brand_color, 10);
    }
}

label.checkbox_label input[type="radio"] {
    border-radius: 10px !important;
}


table {
    width: 100%;
    max-width: 100%;
    overflow-y: scroll;
    font-size: 1.5em;
    text-align: center;
    border-bottom: solid 1px #555;
    border-right: solid 1px #555;
    margin-bottom: 30px;

    td,
    th {
        padding: 8px 0 3px;
        border-top: solid 1px #555;
        border-left: solid 1px #555;
    }
}

p+ul {
    margin-top: -30px;
}

ul {
    margin: 0 0 $padding 30px;
    list-style: circle;

}

ol {
    list-style: decimal;
    margin: 0 0 $padding 30px;
    padding-left: 10px;
}

h4+ul {
    margin-top: $negative_padding;
    ;
}

img {
    width: 100%;
    height: auto;
    margin: 0 0 $double_padding;
}